.pio
.pioenvs
.piolibdeps
.vscode
.travis.yml
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
.clang_complete
.gcc-flags.json
shared/loraconf.h
shared/ota.conf
platformio.ini
shared/paxcounter.conf
docs/assets/paxcounter_logo_white.svg
docs/configuration/custom-sensors.md
docs/configuration/index.md
docs/display-led.md
docs/getting-started.md
docs/hardware.md
docs/index.md
docs/integrations.md
docs/legalnote.md
docs/license-credits.md
docs/payloadformat.md
docs/releases.md
docs/remotecontrol.md
include/antenna.h
include/bmesensor.h
include/boot.h
include/button.h
include/configmanager.h
include/cyclic.h
include/dcf77.h
include/display.h
include/globals.h
include/gpsread.h
include/hash.h
include/i2c.h
include/if482.h
include/irqhandler.h
include/led.h
include/ledmatrixdisplay.h
include/ledmatrixfonts.h
include/libpax_helpers.h
include/lorawan.h
